.first-edition {
  display: grid;
  grid-template-columns: repeat(10, 0fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 0px;
}
.box {
  background-image: url('https://clipart-library.com/images/6Tr5Ej4pc.jpg');
  width: 40px;
  height: 40px;
  /* border: 1px solid black; */
  text-align: center;
  font-size: 20px;
}
body {
  /* background-image: url('https://img.freepik.com/premium-vector/army-camouflage-seamless-pattern-green-colors-vector-illustration_522680-230.jpg'); */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select {
  background-color: black;
  width: 50px;
  height: 60px;
}
